<p>sidebar works!</p>
<div id="sidebar">
  <div class="inner">

    <section>
      <p>Bonjour : {{currentUserName}}</p>
      <button *ngIf="currentUserName !== 'Anonyme'" (click)="logout()" class="primary">Déconnexion</button>
    </section>

    <!-- Search -->
    <section id="search" class="alt">
      <form method="post" action="#">
        <input type="text" name="query" id="query" placeholder="Search" [(ngModel)]="texte" (change)="onChange()">
      </form>
    </section>

    <!-- Menu -->
    <app-menu></app-menu>

    <!-- Section -->
    <section>
      <header class="major">
        <h2>Ante interdum</h2>
      </header>
      <div class="mini-posts">
        <article>
          <a [href]="href" class="image"><img [src]="image" [alt]="alt" /></a>
          <p>{{paragraphe}}</p>
        </article>
        <article>
          <a [href]="href2" class="image"><img [src]="image2" [alt]="alt2" /></a>
          <p>{{paragraphe2}}</p>
        </article>
        <article>
          <a [href]="minipost1.lien" class="image"><img [src]="'assets/images/' + minipost1.image" [alt]="minipost1.alt" /></a>
          <p>{{minipost1.paragraphe}}</p>
        </article>
      </div>
      <ul class="actions">
        <li><a class="button" (click)="onClick()">More</a></li>
      </ul>
    </section>

    <!-- Section -->
    <section>
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="contact">
        <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
        <li class="icon solid fa-phone">(000) 000-0000</li>
        <li class="icon solid fa-home">1234 Somewhere Road #8254<br />
          Nashville, TN 00000-0000</li>
      </ul>
    </section>

    <!-- Footer -->
    <app-footer></app-footer>

  </div>
</div>
